body {
  margin: 0;
  padding: 0;
}

.square-fragments-memorization-game {
  --max-width: clamp(400px, 80vw, 1200px);
  --max-height: clamp(300px, 80vw, 800px);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: var(--max-width);
  height: var(--max-height);

  font-size: 1rem;

  background-color: gray;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.square-fragments-memorization-game__puzzle-panel {
  --puzzle-panel-size: calc(0.45 * min(var(--max-height), var(--max-width)));
  --interactive-panel-size: calc(0.85 * var(--puzzle-panel-size));
  --interactive-panel-border-width: calc(0.01 * var(--interactive-panel-size));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: var(--puzzle-panel-size);
  height: var(--puzzle-panel-size);
  padding: 2% 0;

  font-size: 2em;

  background-color: brown;
}
