@keyframes flyAway {
  from {
    transform: rotate(0);
    left: calc(-181px);
  }
  to {
    transform: rotate(360deg);
    left: calc(181px + 100%);
  }
}

@keyframes typing {
  from {
    width: 0;
    border-right: 1px solid #fafafa;
  }
  to {
    width: 100%;
    border-right: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.meeting-informer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #010318;
  z-index: 3;
  overflow: hidden;
}

.meeting-informer__stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1vw 1vh #fff, 3vw 2vh #fff, 3vw 7vh #fff, 10vw 17vh #fff,
    15vw 25vh #fff, 32vw 44vh #fff, 13vw 19vh #fff, 4vw 87vh #fff,
    32vw 16vh #fff, 45vw 35vh #fff, 21vw 98vh #fff, 47vw 65vh #fff,
    90vw 73vh #fff, 91vw 57vh #fff, 99vw 85vh #fff, 55vw 33vh #fff,
    57vw 48vh #fff, 73vw 21vh #fff, 49vw 14vh #fff, 48vw 38vh #fff,
    61vw 21vh #fff, 75vw 75vh #fff, 76vw 77vh #fff, 79vw 84vh #fff,
    50vw 65vh #fff, 55vw 63vh #fff, 57vw 59vh #fff, 63vw 82vh #fff,
    65vw 87vh #fff, 50vw 91vh #fff, 49vw 71vh #fff, 44vw 32vh #fff,
    30vw 47vh #fff, 31vw 41vh #fff, 41vw 57vh #fff, 10vw 39vh #fff,
    20vw 17vh #fff, 25vw 35vh #fff, 25vw 55vh #fff, 23vw 45vh #fff,
    32vw 84vh #fff, 15vw 91vh #fff, 17vw 83vh #fff, 12vw 88vh #fff,
    14vw 64vh #fff, 80vw 80vh #fff, 81vw 17vh #fff, 92vw 5vh #fff,
    90vw 35vh #fff, 77vw 17vh #fff, 76vw 37vh #fff, 85vw 45vh #fff,
    65vw 45vh #fff;
}

.meeting-informer__crewman {
  position: absolute;
  top: 50%;
  left: 0;
  width: 181px;
  height: 247px;
  background-image: url('@/images/game/crew/crewman_white.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  animation: flyAway 30s linear infinite;
}

.meeting-informer__crewman_color_white {
  background-image: url('@/images/game/crew/crewman_white.svg');
}

.meeting-informer__crewman_color_green {
  background-image: url('@/images/game/crew/crewman_green.svg');
}

.meeting-informer__crewman_color_aquamarine {
  background-image: url('@/images/game/crew/crewman_aquamarine.svg');
}

.meeting-informer__crewman_color_red {
  background-image: url('@/images/game/crew/crewman_red.svg');
}

.meeting-informer__crewman_color_brown {
  background-image: url('@/images/game/crew/crewman_brown.svg');
}

.meeting-informer__crewman_color_grey {
  background-image: url('@/images/game/crew/crewman_grey.svg');
}

.meeting-informer__crewman_color_yellow {
  background-image: url('@/images/game/crew/crewman_yellow.svg');
}

.meeting-informer__crewman_color_purple {
  background-image: url('@/images/game/crew/crewman_purple.svg');
}

.meeting-informer__crewman_color_blue {
  background-image: url('@/images/game/crew/crewman_blue.svg');
}

.meeting-informer__title {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  color: #fafafa;
  line-height: 1.2;
}

.meeting-informer__description {
  margin: 15px 0 0;
  max-width: 900px;
  font-size: 18px;
  color: #fafafa;
  line-height: 1.2;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 10s steps(80);
}
