.minigame-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.minigame-modal__container {
  padding: 15px;
  background-color: #cacaca;
  border: 5px solid #606060;
  border-radius: 12px;
}

.minigame-modal__content {
  border: 5px solid #606060;
  border-radius: 6px;
  min-width: 200px;
  min-height: 150px;
}
