node_modules/
.env
.idea
.vscode
dist
tmp
*.log
*.txt

packages/client/public/service-worker*
packages/client/public/*.tsbuildinfo
packages/client/configs/stylelint

package-lock.json
dockerfile.server.dev

