.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-main-primary);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
  color: var(--font-main-primary);
}

.profile_position_left-corner {
  align-self: flex-start;
}

.profile__information_space_around {
  padding: 25px 0 75px 30px;
}

.profile__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
}

.profile__form_direction_center {
  display: flex;
  justify-content: center;
}

.profile__form_space_left {
  margin-left: 72px;
  margin-bottom: 115px;
}

.profile__form_space_top {
  margin-top: 111px;
}

.profile__information {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__information_space_right {
  margin-right: 10px;
}

.profile__information_space_left {
  padding-left: 10px;
  border-left: 2px solid var(--font-main-primary);
}

.profile__information_space_m {
  margin-left: 32px;
}

.profile__link-back {
  width: 32px;
  height: 15px;
  background-color: var(--font-main-primary);
  mask-image: url(../../images/profile/return-link__icon.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  position: relative;
  transition: all 0.2s ease;
}

.profile__link-back:hover {
  opacity: 0.8;
}

.profile__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: var(--font-main-primary);
}

.profile__personal-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--font-main-primary);
}

.profile__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__navigation_space_right {
  margin-right: 102px;
}

.profile__navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Inter;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--font-main-primary);
}

.profile__navigation-link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  text-decoration: none;
  color: var(--font-main-primary);
}

.profile__navigation-link:hover {
  opacity: 0.8;
}

.profile__navigation-links_left {
  text-align: left;
  border-right: 1px solid var(--font-main-primary);
  padding-right: 20px;
}

.profile__navigation-links_right {
  text-align: right;
  border-left: 1px solid var(--font-main-primary);
  padding-left: 20px;
}

.profile__navigation_space_top {
  margin-top: 30px;
}

.profile__navigation-data {
  width: 297px;
  height: 378px;
  background-image: url(../../images/profile/amongus-profile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.profile__navigation-password {
  width: 297px;
  height: 425px;
  background-image: url(../../images/profile/amongus-password.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.profile__navigation-avatar {
  width: 330px;
  height: 481px;
  /* margin-left: 170px; */
  margin-top: -65px;
  background-image: url(../../images/profile/amongus-avatar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
