.profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: .4s;
  text-decoration: none;
}

.profile-link:hover {
  opacity: .8;
}

.profile-link_spaces_outer {
  margin-top: 45px;
}

.profile-link__icon {
  width: 32px;
  height: 15px;
  background-color: var(--font-main-primary);
  mask-image: url(@/images/profile/return-link__icon.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.profile-link__title {
  margin: 0;
  padding-right: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--font-main-primary);
  line-height: 1.2;
  border-right: 2px solid var(--font-main-primary);
}

.profile-link__subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--font-main-primary);
  line-height: 1.2;
}

.profile__link-back {


  position: relative;

}

.profile__link-back:hover {
  opacity: 0.8;
}

.profile__information_space_right {
  margin-right: 10px;
}

.profile__personal-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;

}

.profile__information_space_left {
  padding-left: 10px;
  border-left: 2px solid var(--font-main-primary);
}

@media screen and (max-width: 1200px) {
  .profile-link {
    flex-wrap: wrap;
  }

  .profile-link__title {
    padding-right: 0;
    border-right: none;
  }
}
