.error-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--background-main-primary);
    color: var(--font-main-primary);
}
.error-page__code {
    font-weight: 700;
    font-size: 128px;
    line-height: 120%;
    margin: 0;
}
.error-page__message {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    white-space: pre-line;
    line-height: 120%;
}
.error-page__return-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--font-main-secondary);
    margin-top: 30px;
}
.error-page__return-link:hover {
    opacity: 0.8;
}
