@import '../../../utils/game-end/variables.css';

.form {
  width: 300px;
  height: 417px;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: var(--text-color);
}

.form__title_space_bottom {
  margin-bottom: 55px;
}
