.profile-form {
  width: 300px;
}

.profile-form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: var(--font-main-primary);
}

.profile-form__title_space_bottom {
  margin-bottom: 55px;
}
