.profile-password {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.profile-password__title {
  margin: 0 0 55px;
  font-size: 28px;
  font-weight: 700;
  color: var(--font-main-primary);
  line-height: 1.2;
}

.profile-password__informer {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 12px;
  color: var(--font-additional-tertiary);
  line-height: 1.2;
}
