.avatar__button {
  position: absolute;
  width: 240px;
  height: 190px;
  background: #9b9b9b;
  background-image: url(../../../images/profile/man.png);
  background-position: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  z-index: 2;
  text-indent: -9999px;
  cursor: pointer;
}

.avatar__button_space_right {
  margin-right: 180px;
}
