.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.game__title {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  color: var(--font-main-primary);
  line-height: 1.2;
}

.game__description {
  margin: 25px 0 0;
  font-size: 16px;
  color: var(--font-main-primary);
  line-height: 1.2;
}

.game__player-color {
  margin: 25px 0 0;
  font-size: 14px;
  color: var(--font-main-secondary);
  line-height: 1.2;
}

.game__end-game {
  margin: 35px 0 0;
  padding: 0;
  width: 150px;
  height: 45px;
  font-family: inherit;
  font-size: 14px;
  color: var(--button-font-primary);
  line-height: 1.2;
  background-color: var(--button-main-primary);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}

.game__end-game:hover {
  opacity: 0.8;
}

.game__canvas-container {
  position: relative;
}

.game__action-btn {
  position: absolute;
  bottom: 20px;
  right: 50px;
  padding: 0;
  width: 150px;
  height: 97px;
  background: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  display: none;
}

.game__action-btn_inactive {
  opacity: 0.8;
  user-select: none;
  pointer-events: none;
}

.game__action-btn_action_meeting {
  background-image: url(@/images/game/start-meeting.svg);
}

.game__action-btn_action_kill {
  bottom: 130px;
  background-image: url(@/images/game/kill.svg);
}

.game__action-btn_action_minigame {
  background-image: url(@/images/game/start-minigame.svg);
}

.game__exit-game-btn {
  position: absolute;
  top: 30px;
  right: 45px;
  padding: 0;
  width: 47px;
  height: 33px;
  background: transparent;
  background-image: url(@/images/game/exit-game.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
