.landing-page-main {
  height: 70vh;
}

.landing-game-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 100%;
  margin: 0 auto;

  font-size: 1.1em;
}

.landing-game-description__text {
  --scrollbar-width: clamp(2px, 0.2vw, 5px);

  overflow-y: auto;

  max-height: 60vh;
  margin-bottom: 1vh;
  padding-right: clamp(1vw, calc(2 * var(--scrollbar-width)), 1.5vw);

  text-align: justify;

  background-color: var(--background-color);

  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
}

.landing-game-description__join-link {
  color: var(--join-link-color);
  text-align: center;
  text-decoration: none;
  transition: var(--link-on-hover-transition-duration);

  &:hover {
    opacity: 0.8;
  }
}
