.square-fragments-memorization-game__memorization-fragment {
  opacity: 0;
  background-color: rgb(23, 23, 23);
}

.square-fragments-memorization-game__memorization-fragment_highlighted {
  opacity: 1;
  background-color: rgb(19, 111, 58);
}
