.leaderboard {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: var(--leaderboard-background-primary);
}

.leaderboard__return-link {
  cursor: pointer;

  position: absolute;
  top: 45px;
  left: 30px;

  display: flex;
  align-items: center;
  align-self: flex-start;
}

.leaderboard__return-icon {
  width: 32px;
  height: 15px;
  margin-right: 10px;

  background-color: var(--leaderboard-font-primary);

  mask-image: url(../../images/ui/return-link.svg);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.leaderboard__title {
  margin: 0;

  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--leaderboard-font-primary);
}

.leaderboard__container {
  display: flex;
  flex-direction: column;
}

.leaderboard__show-more {
  cursor: pointer;

  align-self: flex-end;

  width: 138px;
  height: 34px;
  margin-right: 35px;
  padding: 0;

  font-size: 12px;
  line-height: 1.2;
  color: var(--leaderboard-font-primary);

  background-color: var(--leaderboard-background-tertiary);
  border: none;
  border-radius: 3px;

  transition: 0.4s;
}

.leaderboard__show-more:hover {
  opacity: 0.8;
}

.leaderboard__show-more:disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.8;
}
