@import '@/vendor/styles/normalize.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'),
    url('./vendor/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium'),
    url('./vendor/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'), url('./vendor/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'), url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium'), url('./fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'), url('./fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'),
    url('./vendor/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium'),
    url('./vendor/fonts/Inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'),
    url('./vendor/fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: 700;
}
