.square-fragments-memorization-game__progressbar {
  --indicator-size: calc(0.07 * var(--puzzle-panel-size));

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 90%;
  height: 12%;
  padding-bottom: 3%;
}

.square-fragments-memorization-game__progressbar-indicator {
  width: var(--indicator-size);
  height: var(--indicator-size);
  border-radius: 50%;
  border: 3px solid rgb(211, 211, 211);
}

.square-fragments-memorization-game__progressbar-indicator_success {
  background-color: rgb(15, 192, 12);
}

.square-fragments-memorization-game__progressbar-indicator_error {
  background-color: rgb(226, 20, 20);
}

.square-fragments-memorization-game__progressbar-indicator_neutral {
  background-color: rgb(98, 98, 98);
}
