.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #010318;
  color: #fafafa;
}
.login-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.login-page__title {
  margin-bottom: 15px;
  width: 100%;
}
.login-page__status {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #e0d700;
}
.login-page__status_red {
  color: #e8125f;
}
.login-page__status_green {
  color: #24d108;
}
.login-page__footer {
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.login-page__link {
  font-weight: 400;
  color: #910cbf;
  text-decoration: none;
}
.login-page__link:hover {
  opacity: 0.8;
}
