@font-face {
  font-family: 'iconfont';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('fonts/iconfont.ttf') format('truetype');
}

[class^='icon-']::before,
[class*=' icon-']::before {
  speak: never;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: '\e900';
}
