@define-placeholder flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@define-placeholder flex-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
