.crewman-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  width: 270px;
  height: 68px;
  background-color: #010318;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.crewman-card:hover {
  box-shadow: 0 0 10px rgba(1, 3, 24, 0.5);
}

.crewman-card_self {
  user-select: none;
  pointer-events: none;
}

.crewman-card_self:hover {
  box-shadow: none;
}

.crewman-card_voted-for {
  /*   box-shadow: 0 0 10px rgb(232, 18, 88); */
  background-color: #e81258;
}

.crewman-card_voted-for:hover {
  box-shadow: 0 0 10px rgb(232, 18, 88);
}

.crewman-card_dead {
  user-select: none;
  pointer-events: none;
  opacity: 0.7;
}

.crewman-card__avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.crewman-card__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: 500;
  color: #24d108;
  line-height: 1;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
}

.crewman-card__avatar-overlay_voted {
  opacity: 1;
}

.crewman-card__avatar {
  width: 48px;
  height: 48px;
  border: 1px solid #010318;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 5px;
  background-repeat: no-repeat;
  background-color: #e0d700;
  flex-shrink: 0;
}

.crewman-card__avatar_player_white {
  background-image: url('@/images/game/crew/crewman_white.svg');
}

.crewman-card__avatar_player_green {
  background-image: url('@/images/game/crew/crewman_green.svg');
}

.crewman-card__avatar_player_aquamaring {
  background-image: url('@/images/game/crew/crewman_aquamarine.svg');
}

.crewman-card__avatar_player_red {
  background-image: url('@/images/game/crew/crewman_red.svg');
}

.crewman-card__avatar_player_yellow {
  background-image: url('@/images/game/crew/crewman_yellow.svg');
}

.crewman-card__avatar_player_brown {
  background-image: url('@/images/game/crew/crewman_brown.svg');
}

.crewman-card__avatar_player_grey {
  background-image: url('@/images/game/crew/crewman_grey.svg');
}

.crewman-card__avatar_player_purple {
  background-image: url('@/images/game/crew/crewman_purple.svg');
}

.crewman-card__avatar_player_blue {
  background-image: url('@/images/game/crew/crewman_blue.svg');
}

.crewman-card__crewman-name {
  width: 100%;
  margin: 0 0 0 15px;
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
  line-height: 1.2;
}

.crewman-card__initiator-icon {
  width: 12px;
  height: 21px;
  background-image: url('@/images/game/meeting/initiator.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
