.form-input {
  position: relative;
  display: block;
}

.form-input__label {
  display: block;

  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: #9b9b9b;
}

.form-input__input {
  width: 100%;
  height: 28px;

  font-size: 12px;
  color: var(--color-white);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);

  transition: border-color ease-in 0.1s;

  &:focus {
    border-color: var(--color-purple);
    outline: none;
  }
}

.form-input__validation {
  overflow: hidden;

  height: 12px;
  margin: 4px 0;

  font-size: 10px;
  line-height: 120%;
  color: var(--color-yellow);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-input_invalid {
  .form-input__input {
    color: #e0d700;
    border-bottom: 1px solid #e0d700;
  }
}
