@import '../../mixins/link-hover-transition.css';

.landing-media-entry__link {
  @mixin link-hover-transition;

  color: inherit;
  text-decoration: underline 0.1em;
}

.landing-media-entry__link:hover {
  color: var(--link-hovered-color);
  opacity: 0.8;
}

.landing-media-entry__link-header {
  font-size: 1.2em;
}
