@import '@/vendor/fonts/Iconfont/fonts.css';

.landing-page {
  --background-color: var(--background-main-primary);

  --font-size-normal: calc(11px + 16 * ((100vw - 320px) / 1600));
  --font-color-default: var(--font-main-primary);

  --game-title-primary-color: var(--font-main-primary);
  --game-title-secondary-color: var(--font-main-secondary);

  --join-link-color: var(--font-main-secondary);
  --link-hovered-color: var(--font-main-secondary);
  --link-on-hover-transition-duration: 0.4s;

  --scrollbar-thumb-color: var(--join-link-color);
  --scrollbar-track-color: var(--background-color);

  width: 100vw;
  height: 100vh;
  font-size: var(--font-size-normal);
  color: var(--font-color-default);
}
