@define-placeholder flex-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signup-page {
  --color-white: #fff;
  --color-black: #010318;
  --page-content-width: 450px;
  --font-size-normal: calc(min(12px + 8 * (100vw - 320px) / 1600, 22px));
  --font-size-smaller: 0.8em;
  --font-size-small: 0.7em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  font-size: var(--font-size-normal);
  color: var(--color-white);

  background-color: var(--color-black);

  * {
    margin: 0;
    padding: 0;
  }
}

.signup-page-header {
  width: 100%;

  .signup-page-header__title {
    max-width: var(--page-content-width);
    max-height: 10vh;
    margin: 0 auto 5vh;

    font-size: 2.1em;
    color: var(--color-white);
    text-align: center;
  }
}

.signup-page-main {
  overflow-y: scroll;
  width: 100%;
  max-height: 70vh;
  margin: 0 auto;

  .signup-page__form {
    max-width: min(var(--page-content-width), 90%);
    margin: 0 auto;

    .form-input {
      margin-bottom: 2vh;
    }

    .form-input:last-of-type {
      margin-bottom: 4vh;
    }

    .form-input__input {
      font-size: var(--font-size-smaller);
    }

    .form-input__label {
      font-size: var(--font-size-small);
    }

    .form-input__validation {
      min-height: 1.2em;
      margin: 0;
      margin-top: 0.3em;
      font-size: var(--font-size-small);
    }
    .form-button {
      margin-bottom: 1vh;
      font-size: var(--font-size-normal);
    }
  }
}

.signup-page-footer {
  width: 100%;
  max-height: 10vh;
}

.signup-page-navigation {
  max-width: var(--page-content-width);
  margin: 0 auto;

  .login-prompt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    font-size: var(--font-size-small);
  }

  .login-prompt__title {
    margin-right: 2%;
  }
}
