.forum-post-new-message {
  position: fixed;
  bottom: 25px;
  left: 72px;
  right: 72px;
}

.forum-post-new-message__container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.forum-post-new-message__answer {
  color: var(--color-white);
  font-size: 12px;
  margin-bottom: 5px;
}

.forum-post-new-message__answer > a {
  color: var(--color-white);
}

.forum-post-new-message__answer > button {
  border: none;
  color: var(--color-white);
  background-color: transparent;
  padding: 2px 5px;
  cursor: pointer;
  transition: opacity ease-in 0.1s;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

.forum-post-new-message__textarea {
  width: 100%;
  height: 128px;
  background-color: var(--color-main-blue);
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  color: var(--color-white);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8em;
  resize: none;
  outline: none;
}

.forum-post-new-message__button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: var(--color-purple);
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s ease-in;

  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
