.landing-wallpaper {
  --animation-duration: 40s;

  position: fixed;
  z-index: -1;

  overflow: hidden;

  width: 100vw;
  height: 100vh;

  background-color: var(--background-color);
}

@for $i from 1 to 8 {
  .landing-wallpaper__stars-$(i) {
    background-image: url('images/landing-page/wallpapers/$(i).png');
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  @for $i from 1 to 8 {
    .landing-wallpaper__stars-$(i) {
      background-image: url('images/landing-page/wallpapers/$(i)_2x.png');
    }
  }
}

.landing-animated-wallpaper {
  --single-animation-delay: var(--animation-duration) / 8;

  position: fixed;
  width: 100%;
  height: 100%;
  animation: landing-twinkling-stars-animation var(--animation-duration)
      ease-in-out infinite,
    landing-stars-move-animation var(--animation-duration) linear infinite;

  @for $i from 1 to 8 {
    &:nth-child($(i)) {
      animation-delay: calc(-$(i) * var(--single-animation-delay));
    }
  }
}

@keyframes landing-twinkling-stars-animation {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 1;
  }
}

@keyframes landing-stars-move-animation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2);
  }
}
