@define-placeholder flex-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  --footer-hegiht: 15vh;

  @extend flex-row-container;

  justify-content: space-between;

  width: 100%;
  height: var(----footer-hegiht);
  padding: 0 3vw;

  font-size: 1.3em;
}

.technologies-list-section {
  @extend flex-row-container;

  height: 100%;

  .technologies-list-section__header {
    display: block;
    /* margin-right: 5%; */

    @media only screen and (min-width: 500px) {
      white-space: nowrap;
    }
  }
}

.technologies-list {
  @extend flex-row-container;

  list-style: none;
}

.technologies-list-entry {
  margin: 0 0.15em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .technologies-list-entry__logo {
    width: min(1.5em, var(--footer-hegiht));
    height: min(1.5em, var(--footer-hegiht));

    -webkit-user-drag: none;
  }
}

.media-links-section {
  @extend flex-row-container;

  height: 100%;
}

.media-links-list {
  list-style: none;

  .media-link-entry__link {
    color: inherit;
  }

  .media-link-entry__link:hover {
    color: var(--link-hover-color-blue);
  }

  .icon-github::before {
    font-size: 1.2em;
  }
}
