@define-placeholder flex-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  --footer-height: 15vh;
  --links-section-margin: 3vw;

  @extend flex-row-container;

  justify-content: space-between;

  width: 100%;
  height: 15vh;
  height: var(--footer-height);

  font-size: 1.3em;
}

.technologies-list-section {
  @extend flex-row-container;

  height: 100%;
  margin-left: var(--links-section-margin);

  .technologies-list-section__header {
    display: block;
    width: min-content;
    margin-right: 0.5em;

    @media only screen and (min-width: 400px) {
      white-space: nowrap;
    }
  }
}

.technologies-list {
  @extend flex-row-container;

  list-style: none;
}

.technologies-list-entry {
  margin: 0 0.15em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .technologies-list-entry__logo {
    width: min(1.5em, var(--footer-height));
    height: min(1.5em, var(--footer-height));

    -webkit-user-drag: none;
  }
}

.media-links-section {
  @extend flex-row-container;

  height: 100%;
  margin-right: var(--links-section-margin);
}

.media-links-list {
  list-style: none;

  .media-link-entry__link {
    color: inherit;
  }

  .media-link-entry__link:hover {
    color: var(--link-hover-color-blue);
  }

  .icon-github::before {
    font-size: 1.2em;
  }
}
