.landing-technology-entry {
  transition: var(--link-on-hover-transition-duration);

  &:hover {
    opacity: 0.8;
  }
}

.landing-technology-entry_spacing_outer {
  margin: 0 0.15em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.landing-technology-entry__logo {
  width: min(1.5em, var(--footer-height));
  height: min(1.5em, var(--footer-height));

  -webkit-user-drag: none;
}
